extends layout

block content
  p Create a room
  form(name="createRoom", action="/createRoom", method="post")
    input(type="text", name="timestamp")
    input(type="text", name="names")
    input(type="submit", value="createRoom")
